
.title-name {
    text-align: center;
  font-family: 'Times New Roman';
  font-size: 30px;
  font-weight: 600;
  color:rgba(255, 255, 255, 0.61);
  text-transform: uppercase;
  
  }
  
  .description {

  font-family: 'Arial';
  font-size: 12px;
  font-weight: 400;
  color:rgba(245, 236, 236, 0.767);
  
  }
  
  .backgroundcolor{
    background: linear-gradient(to right, #046e94 0%, #0fb4b4 100%);
  }

  .techyimg{

    width:35%;
    display: flex;

  }

  .techyimg:hover{
        box-shadow: 0 0 2px 1px rgba(7, 31, 39, 0.945);
      
  }

  